div.login-menu {
  display: block;
  justify-content: center;
  position: relative;
  text-align:center;
}

div.login-accept-button {
  display: flex;
  justify-content: center;
 
}

div.login-menu-title {
		font-size:23px;
}


/* PC */

@media (min-width: 640px) {
	div.login-menu {
		bottom: -100px;	
		}

/* CELULARES */
@media not all and (min-width: 640px) {
	div.login-menu {
		bottom: -80px;	
	}