{% extends 'plantilla_base.html' %}

{%block body %}
<div id="div-top" align="center">
<h1> Configuraci&oacute;n </h1>
<form action="./?action=admin_updated" method='post'>
  <div class="container">
    <div class="row">
      <div align="left">
        <div class="well well-sm">
          <div class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  T&iacute;titulo:
                  <input id="title" name="title" type="text" value="{{ config.title }}" class="form-control" required >
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  Descripci&oacute;n:
                    <textarea id="description"  name="description" type="text" class="form-control" required > {{ config.description }} </textarea>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  E-mail de contacto:
                    <input id="contact_mail" name="contact_mail" type="email" value="{{ config.contact_mail }}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  Cantidad de elementos por p&aacute;gina:
                    <input id="page_row_size" name="page_row_size" type="text" value="{{ config.page_row_size }}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
           <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  Sitio Disponible:
                    <select id="avaiable" name="avaiable">
                      <option> Si </option>
                      <option> No </option>
                    </select>
                </div>
              </div>
            </fieldset>
            <br>
             <div class="form-group">
              <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-primary" id= "confirm_button" name="confirm_button" value="Confirmar">

                <input type="button" class="btn btn-danger" id= "cancel_button" name="cancel_button" onclick="return cancelar('index')"; value="Cancelar"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</form>

<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}