{% extends 'pacient_form_base.html' %}

{% block header %}
Actualizar Paciente
{% endblock %}

{% block action %}
./?action=pacient_updated
{% endblock %}

{% block first_name_value %}
{{ pacient.first_name }}
{% endblock %}

{% block last_name_value %}
{{ pacient.last_name }}
{% endblock %}

{% block birth_date_value %}
{{ pacient.birth_date|date('Y-m-d') }}
{% endblock %}

{% block dni_value %}
{{ pacient.dni }}
{% endblock %}

{% block address_value %}
{{ pacient.address }}
{% endblock %}

{% block phone_value %}
{{ pacient.phone }}
{% endblock %}

{% block form %}
<input type="hidden" id='id' name='id' value={{ pacient.id }}>
{% endblock %}
