{% extends 'plantilla_base.html' %}

{% block body %}

<div id="div-top" align="center">
<h1>{% block header %} {% endblock %} </h1>
<form action="{% block action %} {% endblock %}" method='post'>
  <div class="container">
    <div class="row">
      <div align="left">
        <div class="well well-sm">
          <div class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  Nombre:
                  <input id="first_name" name="first_name" type="text" placeholder="Nombre"
                  value="{% block first_name_value %} {% endblock %}" class="form-control" required >
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  Apellido:
                    <input id="last_name" name="last_name" type="text" placeholder="Apellido"
                    value="{% block last_name_value %} {% endblock %}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Fecha de Nacimiento:
                    <input id="fecha_de_nacimiento" name="birth_date" type="date"
                    value={% block birth_date_value %} {% endblock %} class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  Sexo:
                    <select name="gender" required>
                      <option value="F">Femenino</option>
                      <option value="M">Masculino</option>
                    </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tipo de Documento:
                    <select name="doc_type" required >
                      {% for item in referenceData.getAllDocumentTypes %}
                        <option value={{ item.getId }}>{{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  N&uacute;mero de Documento:
                    <input id="documento" name="dni" type="numeric" placeholder="Nro de Documento"
                    value="{% block dni_value %} {% endblock %}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Domicilio:
                    <input id="domicilio" name="address" type="text" placeholder="Direcci&oacute;n de Domicilio"
                    value="{% block address_value %} {% endblock %}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tel&eacute;fono/Celular:
                    <input id="telefono" name="phone" type="text" placeholder="Telefono/Celular"
                    value="{% block phone_value %} {% endblock %}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Obra Social:
                    <select name="id_medical_insurance">
                      {% for item in referenceData.getAllSocialInsurances %}
                        <option value={{ item.getId }}>{{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tiene Heladera?:
                  <select name="has_refrigerator" required>
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tiene Electricidad?:
                    <select name="has_electricity" required>
                      <option value="1">SI</option>
                      <option value="0">NO</option>
                    </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tiene Mascota(s)?:
                    <select name="has_pet" required>
                      <option value="1">SI</option>
                      <option value="0">NO</option>
                    </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tipo de Vivienda:
                    <select name="home_type" required>
                      {% for item in referenceData.getAllHomeTypes %}
                        <option value={{ item.getId }}>{{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tipo de Calefacci&oacute;n:
                    <select name="heating_type" required>
                      {% for item in referenceData.getAllHeatingTypes %}
                        <option value={{ item.getId }}>{{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                  </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tipo de Agua:
                    <select name="water_type" required>
                      {% for item in referenceData.getAllWaterTypes %}
                        <option value={{ item.getId }}>{{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                </div>
              </div>
            </fieldset>
            {% block form %} {% endblock %}
            <div class="form-group">
              <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-primary" id= "confirm_button" name="confirm_button" value="Confirmar">
               
                <input type="button" class="btn btn-danger" id= "cancel_button" name="cancel_button" onclick="return cancelar('pacients_index')"; value="Cancelar"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<br>
<br>
<br>
<br>


{% endblock %}