{% extends 'plantilla_base.html' %}

{% block body %}
<div id="div-top" align="center">
  <h1>Carga de Incidente </h1>
  <form action="./?action=incidente_added" method="POST">
    <div class="container">
      <div class="row">
        <div align="left">
          <div class="well well-sm">
            <div class="form-horizontal">
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"></span>
                <div class="col-md-8">
                  Descripci&oacute;n:
                  <input id="descripcion" name="descripcion" type="text" placeholder="descripcion"
                  value="{% block descripcion_value %} {% endblock %}" class="form-control" required >
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"></span>
                <div class="col-md-8">
                  Tipo de Incidente:
                  <div>
                      <select id="tipo_incidente" name="tipo_incidente" required>
                        {% for item in tipos_incidentes %}
                          <option value={{ item.id }}>{{ item.nombre }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <h2 class="text-center">Objetos a Indemnizar</h2>
                {% for i in 1..3 %}
                  <span class="col-md-4">
                    Nombre:
                    <input id="nombre_objeto[]" name="nombre_objeto[]" type="text" class="form-control">
                  </span>
                  <span class="col-md-2">
                    Cantidad:
                      <input id="cantidad_objeto[]" name="cantidad_objeto[]" type="number" class="form-control">
                  </span>
                  <span class="col-md-6">
                    Descripci&oacute;n:
                    <input id="descripcion_objeto[]" name="descripcion_objeto[]" type="text" class="form-control">
                  </span>
                {% endfor %}
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-primary" id= "confirm_button" name="confirm_button" value="Confirmar">
                <input type="button" class="btn btn-danger" id= "cancel_button" name="cancel_button" onclick="return cancelar('index')"; value="Cancelar"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<br>
<br>
<br>
<br>
{% endblock %}