{% extends 'list_base.html' %}

{% block header %} Listado de Incidentes {% endblock %}
{% block new_action %} ./?action=incidente_new {% endblock %}
{% block new_action_label %} Nuevo incidente {% endblock %}

{% block inner_body %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th> C&oacute;digo </th>
          <th> Tipo </th>
          <th> Estado</th>
          <th> Fecha </th>
          <th> Descripci&oacute;n </th>
          <th> <div align="center"> Objetos informados </div> </th>
        </tr>
      </thead>
      {% for item in incidents %}
        <tr>
          <td> {{ item.id }} </td>
          <td> {{ item.tipo.nombre }} </td>
          <td> {{ item.estado.nombre }} </td>
          <td> {{ item.fecha }} </td>
          <td> {{ item.descripcion }} </td>
          <td>
              <table class="table table-condensed">
                  <thead>
                      <tr>
                        <th> Nombre</th>
                        <th> Cantidad </th>
                        <th> Descripci&oacute;n </th>
                      </tr>
                    </thead>
                  {% for each in item.objetos %}
                  <tr>
                    <td> {{ each.nombre }}</td>
                    <td> {{ each.cantidad }}</td>
                    <td> {{ each.descripcion }}</td>
                  </tr>
                {% endfor %}
              </table>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}