{% extends 'list_base.html' %}

{% block header %} Listado de Incidentes {% endblock %}
{% block new_action %} ./?action=incidente_new {% endblock %}
{% block new_action_label %} Nuevo incidente {% endblock %}

{% block inner_body %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Tipo Incidente </th>
          <th>Estado Incidente</th>
          <th>Fecha de Incidente</th>
          <th> Descripci&oacute;n </th>
          <th> <div align="center"> Objetos informados </div> </th>
        </tr>
      </thead>
      {% for item in incidents %}
        <tr>
          <td> {{ incidentTypes[item.idTipoIncidente - 1].nombre }} </td>
          <td> {{ incidentStates[item.estado - 1].nombre }} </td>
          <td> {{ item.fechaInicio }} </td>
          <td> {{ item.descripcion }} </td>
          <td>
              <table class="table table-condensed">
                  <thead>
                      <tr>
                        <th> Nombre</th>
                        <th> Cantidad </th>
                        <th> Descripci&oacute;n </th>
                      </tr>
                    </thead>
                  <td> {{ each.nombre }}</td>
                  <td> {{ each.cantidad }}</td>
                  <td> {{ each.description }}</td>
              </table>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}