{% extends 'plantilla_base.html' %}

{% block body %}
<h1 align="center">{% block header %} {% endblock %}</h1>
<div class="container">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <br> &nbsp;
          <form action="{% block new_action %} {% endblock %}" method="post">
            <button type="submit" class="btn btn-success"> {% block new_action_label %} {% endblock %}
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </form>
        </tr>

{% block inner_body %}
{% endblock %}

<br>
<br>
<br>
<br>
<br>

{% endblock %}


